// Create your own map
$custom-colors: (
  "psa-dark-red": #AE535C,
  "psa-light-red": #D24F39,
  "psa-orange": #D77540
);

$btn-close-color: white;

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

