---
permalink: /assets/js/main.min.js
---
{% set js %}
{%- include "../../../node_modules/@popperjs/dist/esm/popper.js" -%}
{%- include "../../../node_modules/bootstrap/dist/js/bootstrap.js" -%}
{%- include "../js/support.js" -%}
{% endset %}

{{ js | jsmin | safe }}