<div class="container">
    <div class="row row-cols-1">
        {%- for item in collections.all[0].data[ collectionName ] -%}
        <div class="col">
            <h3 class="text-start instrument-serif">{{ item.header_value }}</h3>
            <div class="text-start">{{ item.body }}</div>
        </div>
        {%- endfor -%}
    </div>
</div> 
