    <head>
        {% metagen 
            title=title,
            desc=meta_desc,
            url=url,
            img=url + img,
            img_alt=alt,
            name=site.author.firstName + " " + site.author.lastName,
            comments=true
        %}
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon_data/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon_data/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets.favicon_data/favicon-16x16.png">
        <link rel="stylesheet" href="/assets/css/main.css">        
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/pdfobject.min.js"></script>
        <script src="/assets/js/main.js"></script>

        <link rel="manifest" href="/assets/favicon_data/site.webmanifest">
    </head>